// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.card-title{
    cursor: pointer;
}
.fa-solid{
    cursor: pointer;
    font-size: 15px
}
